
input, select {
	width: 90%;
	height: auto;
}
.dftr input, textarea {
	width: 200%;
	height: 20px;
	border-radius: 2px;
	color: black;
	font-weight: bold;
}
.daftar {
	background-color: #2F70A6;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	color: white;
	font-family: calibri;
	font-weight: bold;
}
.batal {
	background-color: red;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	color: white;
	font-family: calibri;
	font-weight: bold;
}

body {
	font-size: 12px;
}
button {
	width: 100%;
	height: 30px;
}
textarea {
	width: 90%;
	height: auto;
}
.pilihan {
	width: 10%;
	height: 30px;
	background-color:  #2F70A6;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}
.left {
	background-color: rgba(180, 180, 180, 0.75);
	margin-bottom: 10px;
	padding: 10px;
	color: #F65F00;
}
.bg {
	background-color: #FFCC99;
}
/*button {
	font-size: 1vw;
}
header {
	font-size: 1vw;
}
option {
	font-size: 1vw;
}*/