
	html,body{
		padding: 0;
		margin: 0;
		font-family: sans-serif;
	}

.main-content{
	margin-right: 6%;
		margin-left: 6%;
}
 
	.menu-drop{
		background-color: #313131;
	}
 
	.menu-drop ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		margin-left: 5%;
	}
 
	.menu-drop > ul > li {
		float: left;
	}

	.toRight{
		float: right;
		margin-right: 5%;
	}

	.toRight li{
		float: left;
	}
 
	
	.menu-drop li a {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
 
	.menu-drop li a:hover{
		background-color: #899684;
	}
 
	li.dropdown {
		display: inline-block;
	}
 
	.dropdown:hover .isi-dropdown {
		display: block;
	}
 
	.isi-dropdown a:hover {
		color: #fff !important;
	}
 
	.isi-dropdown {
		position: absolute;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		background-color: #f9f9f9;
	}
 
	.isi-dropdown a {
		color: #3c3c3c !important;
	}
 
	.isi-dropdown a:hover {
		color: #232323 !important;
		background: #f3f3f3 !important;
	}

	.judul{
		font-size: 2vw;
		font-family: brody;
		color: #105570;
	}

	.small_text{
		color: #CD3301;
		font-size: 1vw;
	}

.color-line{
	color: grey;
}

.content-left{
	width: 20%;
	float: left;
	margin-right: 15px;
	font-size: 12px;
	/*padding: 5px;*/
}

.content-right{
	width: 75%;
	float: left;
	overflow: hidden;
}

table{
	width: 90%;
	padding: 5px;
	border-collapse: collapse;
	border: 1px solid black;
	border-radius: 20%;
}

table td, table th{
	padding: 5px;
	border: 1px solid black;
}

table td:last-child{
	text-align: center;
}

table a{
	text-decoration: none;

}
table tr{
	width: 100%;
}

.img_wrapper{
	width: 100%;
	height: auto;
}

.img_wrapper img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

.item{
	width: 30%;
	float: left;
	margin-right: 5px;
	padding: 5px;
}

.item_img{
	width: 80%;
	height: auto;
	margin: auto;
}
.button {
	width: 100%;
	height: 50px;
	background-color: #990000;
	border-radius: 10px;
	color: white;
	font-family: bebas;
}
.keranjang {
	background-color: #2F70A6;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	color: white;
	font-family: calibri;
	font-weight: bold;
}
.detail {
	background-color: #FF8F29;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	color: white;
	font-family: calibri;
	font-weight: bold;
}
.checkout {
	background-color: red;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	color: white;
	font-family: calibri;
	font-weight: bold;
}
.edit {
	background-color: green;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	color: white;
	font-family: calibri;
	font-weight: bold;
}
.total {
	color: red;
	font-weight: bold;
}
.bayar {
	width: 90%;
	height: 20px;
	border-radius: 5px;
}
.dd {
	background:url(https://assets.jalantikus.com/assets/cache/0/0/userfiles/2015/07/30/wallpaper-hd-android-8-bit-7.png) no-repeat center top;
	background-size:100%;
	color: #fff
	/*background-image: url(pic/bgDataDiri.png);*/
}
.dr {
	color: white;
}

.item_img img{
	width: 100%;
	height: auto;
	object-fit: cover;
}
.ket {
	font-size: 0.7vw;
	color: grey;
}
.datadiri {
	border : none;
	text-align: left;
	padding: 30%;
	background-color: #313131;
	border-radius: 0px
}

.datadiri td{
	border:none;
}


.datadiri td:last-child{
	text-align: left;
}
.bb {
	width: 90%;
	height: 30px;
	background-color: #313131;
	color: white;
	font-weight: bold;
}
.footer {
	background-color: #E6E6E6;

}
.text-footer {
	margin: : 5%;
}